{% extends "tec_index.html" %}
{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/grades.css')}}">
{% endblock %}
{% block content %}
<div class="tec-container">
    <h2>Class Students</h2>
    <div class="table">
        <div class="table-header">
            <div class="col">Name</div>
            <div class="col">Register Number</div>
            <div class="col">Action</div>
        </div>
        {% for row in students %}
        <div class="table-row">
            <div class="col">{{ row[1] }}</div>
            <div class="col">{{ row[2] }}</div>
            <div class="col">
                <div>
                <form action="{{url_for('my_class')}}" method="post">
                <input type="hidden" name="register_number" value="{{ row[2] }}">
                <button type="submit" class="add-btn">View</button>
            </form>
                </div>
            <div>
                <form action="{{url_for('remove_student')}}" method="post">
                        <input type="hidden" name="register_number" value="{{ row[2] }}">
                        <button type="submit" class="remove-btn">Remove</button>
                    </form>
            </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}