<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/css/login.css">
    {% block title %}
  <title>student info</title>
    {% endblock %}
</head>
<body>
    <section>
        {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <p class="warn-message">{{ message }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
        <div class="form-box">
            <div class="form-value">
                {% block form %}
                <form action="{{url_for('get_student')}}" method="post">

                    <h2>Student Info</h2>
                    {% endblock %}
                    {% block data %}
                    <div class="inputbox">
                        <input type="text" id="register_number" name="register_number" required>
                        <label for="register_number">Register Number</label>
                    </div>
                    <div class="deptinput" style="margin-bottom: 50px;">
                        <span class="dept">Department</span>
                        <select  name="department">
                            <option value="cse" selected>CSE</option>
                            <option value="it">IT</option>
                            <option value="eee">EEE</option>
                            <option value="ece">ECE</option>
                            <option value="civil">Civil</option>
                            <option value="mech">Mechanical</option>
                          </select>
                    </div>
                    {% endblock %}
                    {% block content %}
                    <button>Get</button>
                    {% endblock %}
                </form>
            </div>
        </div>
    </section>
</body>
</html>