{% extends "index.html" %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sub_notes.css') }}">
{% endblock %}
{% block navigation %}
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="{{ url_for('home') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('attendance') }}">Attendance</a>
                </li>
                <li>
                    <a href="{{ url_for('grades') }}">Grades</a>
                </li>
                <li>
                    <a href="{{ url_for('notes') }}" class="active">Notes</a>
                </li>
                <li>
                    <a href="{{ url_for('placement') }}">Placement</a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}">Logout</a>
                </li>
            </ul>
        </nav>
{% endblock %}
{% block content %}
<div class="file-container">
    <h1>{{ subject }}</h1>
    <ul>
        {% for file in files %}
        <li class="file-item"><a  href="{{ url_for('download_file', subject=subject, filename=file) }}">{{ file }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}