{% extends "tec_index.html" %}
{% block style %}
<link rel="stylesheet" href="../static/css/students.css">
{% endblock %}
{% block navigation %}
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="{{ url_for('teacher_index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('attendance') }}">Attendance</a>
                </li>
                <li>
                    <a href="{{ url_for('grades') }}" class="active">Grades</a>
                </li>
                <li>
                    <a href="{{ url_for('notes') }}">Notes</a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}" >Logout</a>
                </li>
            </ul>
        </nav>
{% endblock %}
{% block content %}
<div class="student-container">
    <h1>Select Subject</h1>
       {% block form %}
        <form action="/grades" method="POST">
        {% endblock %}
            <div>
                <label for="year">Year:</label>
                <select id="year" name="year">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div>
                <label for="branch">Department:</label>
                <select name="branch" id="branch">
                    <option value="" selected disabled>Choose Branch</option>
                    <option value="cse">Computer Science and Engineering</option>
                    <option value="it">Information Technology</option>
                    <option value="mech">Mechanical Engineering</option>
                    <option value="ece">Electrical and Communication Engineering</option>
                    <option value="eee">Electrical and Electronics Engineering</option>
                    <option value="civil">Civil Engineering</option>
                </select>
            </div>
            <div>
                <label for="section">Section:</label>
                <select id="section" name="section">
                    <option value="A">A</option>
                    <option value="B">B</option>
                </select>
            </div>
            <div>
                <label for="subject">Subject</label>
                <select id="subject" name="subject" disabled>
                    <option value="" selected disabled>Choose Branch First</option>
                </select>
            </div>
            <button type="submit">Submit</button>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../static/assets/javascript/subjects.js"></script>
</div>
{% endblock %}